@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212529;
    color: #fff;
    padding: 0.5rem;
    font-family: "Lexend", serif;
}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.text {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #007BFF;
    border-radius: 0.625rem;
    padding: 0.5rem;
    font-size: 1.875rem;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7rem;
}

.form {
    padding: 0.5rem;
    margin: 0.5rem;
    align-self: center;
    max-width: 90%;
    width: 700px;
}


.input {
    margin: 0.5rem;
    width: 700px;
}

#personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#medical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#emergency {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#insurance {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input {
    margin-bottom: 0.5rem;
    border-radius: 10px;
    padding: 1rem;
}

#genders {
    margin-bottom: 0.5rem;
    border-radius: 10px;
    padding: 1rem;
}

.btn {
    padding: 0.5rem;
    border-radius: 0.625rem;
    width: 700px;
    align-self: center;
    margin-left: 10px;
    background-color: 007BFF;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn:hover{
    background-color: #fff;
    color: #212529;
}

.list{
    margin-bottom: 10rem;
}

.list h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.list ul li{
   display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
}

.search {
    display: flex;
    justify-content: center;
}

#searchInput{
    margin-bottom: 0.5rem;
    border-radius: 10px;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
}
